<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="JobType">Task Name</label>
        <small class="text-danger">(*) Require</small>
        <input
          type="text"
          [(ngModel)]="jobname"
          placeholder='Enter task name'
          class="e-input JobType"
        /> 
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="Period">Cycle</label>
            <small  class="text-danger">(*) Default is daily</small>      
            <div class="form-group">
                <div *ngFor="let item of period" class="custom-control custom-radio float-left mr-2">
                  <input
                    class="custom-control-input"
                    type="radio"
                    [(ngModel)]="selectedPeriodMain"
                    [id]="'period'+ item"
                    name="period"
                    (change)='change($event)'
                    [value]="item"
                  />
                  <label [for]="'period'+ item" class="custom-control-label">{{item}}</label>
                </div>
            </div>
          </div>
        </div>
        <!-- Specific Date -->
        <div [class]="duedate?'col-md-8 d-none':'col-md-8'">
          <div class="form-group">
            <label for="JobType">Due Date Time</label>
            <small class="text-danger">(*) Require</small>
            <!-- <ejs-datetimepicker [format]="format" step="1" [(ngModel)]="deadline" placeholder='Select due date time'></ejs-datetimepicker> -->
            <kendo-datetimepicker
            [format]="format2"
            [(ngModel)]="deadline"
            placeholder='Select due date time of specific date'
        >
        </kendo-datetimepicker>
          </div>
        </div>
       
        <!-- Daily -->
        <div [class]="daily?'col-md-8 d-none':'col-md-8'" >
          <div class="form-group">
            <label for="JobType">1st Due Date Time</label>
            <small class="text-danger">(*) Require</small> 
            <!-- <ejs-datetimepicker [format]="format" step="1" [(ngModel)]="duedatedaily"  placeholder='Select due date time of daily'></ejs-datetimepicker> -->
            <kendo-datetimepicker
            [format]="format2"
            [(ngModel)]="duedatedaily"
            [defaultTab]="'time'"
            placeholder='Select due date time of daily'
        >
        </kendo-datetimepicker>
          </div>
        </div>
        <!-- ----Daily -->
        <!-- Weekly -->
        <div [class]="weekly?'col-md-8 d-none':'col-md-8'">
          <div class="form-group">
            <label for="JobType">1st Due Date Time</label>  <small class="text-danger">(*) Require</small>
            <!-- <ejs-datetimepicker [format]="format" step="1" placeholder='Select due date time of weekly' [(ngModel)]="duedateweekly"></ejs-datetimepicker> -->
            <kendo-datetimepicker
            [format]="format2"
            [(ngModel)]="duedateweekly"
            placeholder='Select due date time of weekly'
        >
        </kendo-datetimepicker>
          </div>
        </div>
        <!-- Monthly -->
        <div [class]="monthly?'col-md-8 d-none':'col-md-8'">
          <div class="form-group">
            <label for="JobType">1st Due Date Time</label>  <small class="text-danger">(*) Require</small>
            <!-- <ejs-datetimepicker [format]="format" step="1" placeholder='Select due date time of monthly' [(ngModel)]="duedatemonthly"></ejs-datetimepicker> -->
             <!-- <ejs-datetimepicker [format]="format" step="1" placeholder='Select due date time of weekly' [(ngModel)]="duedateweekly"></ejs-datetimepicker> -->
             <kendo-datetimepicker
             [format]="format2"
             [(ngModel)]="duedatemonthly"
             placeholder='Select due date time of monthly'
         >
         </kendo-datetimepicker>
          </div>
        </div>
        <!-- End monthly -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
       <label for="JobType">From</label>
       <small class="text-danger">(*) Require</small>
       <ejs-dropdownlist [dataSource]='beAssigned' [(ngModel)]="who" [fields]='fields' [placeholder]='waterMark'></ejs-dropdownlist>
     </div>
     </div>
    <div class="col-md-4">
     <div class="form-group">
      <label for="JobType">Be Assigned</label>
      <ejs-multiselect [dataSource]='beAssigned'[mode]='box' [(ngModel)]="pic" [fields]='fields' [placeholder]='waterMark'></ejs-multiselect>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
       <label for="JobType">Deputy</label>
       <ejs-multiselect [dataSource]='beAssigned'[mode]='box' [(ngModel)]="deputies" [fields]='fields' [placeholder]='waterMark'></ejs-multiselect>
     </div>
     </div>
 

    <div class="col-md-6">
      <label>Priority</label>
      <small  class="text-danger">(*) Default is medium</small>

      <div class="form-group">
        <div class="custom-control custom-radio float-left mr-2">
          <input
            class="custom-control-input"
            type="radio"
            id="priorityHigh"
            [(ngModel)]="priority"
            name="priority"
            value="H"
          />
          <label for="priorityHigh" class="custom-control-label">High</label>
        </div>

        <div class="custom-control custom-radio float-left mr-2">
          <input
            class="custom-control-input"
            checked="true"
            type="radio"
            value="M"
            [(ngModel)]="priority"
            id="priorityMedium"
            name="priority"
          />
          <label for="priorityMedium" class="custom-control-label">Medium</label>
        </div>

        <div class="custom-control custom-radio float-left mr-2">
          <input
            class="custom-control-input"
            type="radio"
            id="priorityLow"
            [(ngModel)]="priority"
            name="priority"
            value="L"
          />
          <label for="priorityLow" class="custom-control-label">Low</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

  <button type="button" class="btn btn-outline-dark" (click)="createTask()">Save</button>
</div>