
.comments-section {
    background: #fff;
  }
  .comment-area {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 85px;
    letter-spacing: 0.3px;
    padding: 10px 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #f2f2f2;
  }
  .comment-btn {
    float: right;
    background: #4caf50;
    margin: 5px 0;
    padding: 6px 15px;
    color: #fff;
    letter-spacing: 1.5px;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
  }
  .comment-btn:hover,
  .comment-btn:focus {
    background: #2e7d32;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
  }
  .comment-box-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
  }
  .comment-box {
    display: flex;
    width: 100%;
  }
  .comment-box a {
    color: #242475;
  }
  .commenter-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .comment-content {
    display: flex;
    flex-direction: column;
    background: #f2f3f5;
    margin-left: 5px;
    padding: 4px 20px;
    border-radius: 10px;
  }
  .pin-button {
    margin-left: auto;
    align-self: center;
    padding-right: 10px;
  }
  .commenter-head {
    display: block;
  }
  
  .commenter-head .commenter-name {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .comment-date {
    font-size: 0.7rem;
  }
  .comment-date i {
    margin: 0 5px 0 10px;
  }
  .comment-body {
    padding: 0 0 0 5px;
    display: flex;
    font-size: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .comment-footer {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .comment-footer span {
    margin: 0 15px 0 0;
  }
  .comment-footer span a {
    margin: 0 0px 0 2px;
  }
  
  .comment-footer span.comment-likes .active .fa-heart {
    color: black;
    font-size: 1rem;
  }
  .comment-footer span.comment-likes .active .fa-heart {
    color: red;
  }
  
  .nested-comments {
    margin-left: 50px;
  }

  .comment-post {
    position: relative; 
    margin: 0 auto ;
  }

  .comment-post .ejs-uploader {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .comment-post .attachment {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size:16px;
    transform: translate(-2px,85px);
  }
  .comment-post .attachment:hover {
    opacity: 0.8;
  }
  .imageList .image-preview {
    background-color: white;
    width: 100%;
    height:150px;
    object-fit: contain;
    position: absolute;
    z-index: 5;
    left: 1%;
    top: 0;
    overflow: scroll;
  }
  .imageList .image-preview .img-content{
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 5px;
  }
  .imageList .image-preview .img-content img{
    width: 100%;
    height: 100%;
  }
  .imageList .image-preview .img-content .fa-close{
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 5;
    border-radius: 50%;
    background: #808080;
    width: 20px;
    color: white;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
  }
  .imageList .image-preview .img-content .fa-close:hover{
    opacity: 0.5;
  }
  .pin-container {
    position: relative;
  }
  .pin {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(260%);
    transform: translateY(260%);
    z-index: 2;
    background-color:whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    border-left: 2px solid teal;
    cursor: pointer;
  }
  .pin-image {
    /* position: absolute;
    top: 130px; */
    /* -webkit-transform: translateY(100%);
    transform: translateY(110%); */
    z-index: 2;
    background-color:whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    border-left: 2px solid teal;
    cursor: pointer;
  }
 