<div class="row">
    <div class="col-lg-4 col-xs-12 col-12">
      <h5 class="text-primary">Filter Due Date Time range</h5>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <h5 class="text-primary">Filter Created Date Time range</h5>
    </div>

    <div class="col-lg-2">
    </div>

    <!-- Input -->
    
    <div class="col-lg-4 col-xs-12 col-12">
      <ejs-daterangepicker placeholder="Select on due date time range" cssClass="format-wide" (focus)='onFocusForDueDateTime($event)' dayHeaderFormat='Short' #ejDateRangePickerForDueDateTime [format]="'MMMM dd, yyyy'" showClearButton="false" [allowEdit]="false" showTodayButton="true" (change)="onChangeDateRangepPickerForDueDateTime($event)" [(ngModel)]="daterangeForDueDateTime"></ejs-daterangepicker>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-sm btn-info" (click)='reset()'>
        <i class="fa fa-refresh"> </i> Reset
      </button>
    </div>
    <div class="col-lg-4">
      <ejs-daterangepicker placeholder="Select on created date time range" (cleared)="cleared($event)" cssClass="format-wide" (focus)='onFocus($event)' dayHeaderFormat='Short' #ejDateRangePicker [format]="'MMMM dd, yyyy'" showClearButton="false" [allowEdit]="false" showTodayButton="true" (change)="onChangeDateRangepPicker($event)" [(ngModel)]="daterange"></ejs-daterangepicker>
    </div>

    <div class="col-lg-2">
      <button class="btn btn-sm btn-info" (click)='reset()'>
        <i class="fa fa-refresh"> </i> Reset
      </button>
    </div>
    <!-- end -->
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><i class="fas fa-list"></i> History
      </h5>
    </div>
    <div class="card-bodytable-responsive">
      <div class="row">
        <div class="col-md-12">
          <div class="control-section">
            <ejs-treegrid #treegrid [dataSource]='data' childMapping='ChildNodes' [treeColumnIndex]='2'
              [pageSettings]='pageSetting' [filterSettings]='filterSettings' [contextMenuItems]='contextMenuItems'
              [toolbar]='toolbarOptions' allowPaging='true' [allowExcelExport]='true' [allowPdfExport]='true'
              gridLines='Both' [allowResizing]='true' showColumnMenu='true' allowSorting='true' allowFiltering='true'
              [editSettings]='editSettings' (toolbarClick)='toolbarClick($event)' (created)='create()'
              (recordDoubleClick)="recordDoubleClick($event)" [searchSettings]="searchSettings"
              (dataBound)="dataBound($event)"
              [sortSettings]="sortSettings"
              (contextMenuOpen)="contextMenuOpen($event)"
              (contextMenuClick)="contextMenuClick($event)">
              <drag-scroll #nav>
                <e-columns>
                  <e-column field="Entity.Undo" [disableHtmlEncode]="false" headerText="Undo" width="150" textAlign="Center">
                    <ng-template #template let-data >
                      <button *ngIf="data.Entity.Level === 1" class="btn btn-xs btn-success" (click)="undo(data.Entity.ID)" > <i class="fa fa-undo"></i> Undo</button>
                    </ng-template>
                  </e-column>
                  <!-- <e-column field="Entity.Priority" headerText="Priority" width="110" textAlign="Center">
                    <ng-template #template let-data>
                      <span id="priority"
                        [class]="data.Entity.Priority == 'High' ? 'badge bg-danger' : data.Entity.Priority =='Medium' ? 'badge bg-warning text-white' : 'badge bg-info'"
                        style="padding:4px;color:white">{{data.Entity.Priority}}</span>
                    </ng-template>
                  </e-column> -->
                  <e-column field="Entity.ProjectName" headerText="Project Name" clipMode='EllipsisWithTooltip' textAlign="Center"
                    width="240">
                  </e-column>
                  <e-column field="Entity.JobName" [disableHtmlEncode]="true" headerText="Task Name" clipMode='EllipsisWithTooltip' textAlign="Left"
                    width="240">
                    <ng-template #template let-data>
                      <span id="priority"
                        [class]="data.Entity.Priority == 'High' ? 'badge bg-danger' : data.Entity.Priority =='Medium' ? 'badge bg-warning text-white' : 'badge bg-info'"
                        style="padding:4px;color:white; font-size: 10px!important;"> {{data.Entity.Priority}}</span> {{data.Entity.JobName}}
                    </ng-template>
                  </e-column>
                  <e-column field="Entity.From" headerText="From" width="120"></e-column>
                  <e-column field="Entity.PIC" headerText="PIC" width="180" textAlign="Center"></e-column>
                  <e-column field="Entity.DeputyName" headerText="Deputy" width="180" textAlign="Center"></e-column>
                  <e-column field="Entity.state" headerText="Status" width="120" textAlign="Center">
                    <ng-template #template let-data>
                      <span id="priority" [class]="data.Entity.state == 'Undone' ? 'badge bg-danger' : 'badge bg-success'"
                        style="padding:4px;color:white">{{data.Entity.state === 'Undone' ? 'Late' : 'Ontime'}}</span>
                    </ng-template>
                  </e-column>
                  <e-column field="Entity.DueDate" type='date' format='d MMM, yyyy hh:mm:ss a' type='date' clipMode='EllipsisWithTooltip' headerText="Due Date Time" width="200" textAlign="Center">
                    <!-- <ng-template #template let-data>
                      <ejs-tooltip id='tooltip' content='{{periodText(data.Entity.periodType)}}'>
                        {{data.Entity.DueDate}}
                     </ejs-tooltip>
                    </ng-template> -->
                  </e-column>
                  <e-column field="Entity.periodType" headerText="Period Type" width="200" textAlign="Center">
                    <ng-template #template let-data>
                      {{periodText(data.Entity.periodType)}}
                    </ng-template>
                  </e-column>
                  <e-column field="Entity.FinishedDateTime" format='d MMM, yyyy hh:mm:ss a' type='date' headerText="Finished DateTime" width="200" textAlign="Center"></e-column>
                  <e-column field="Entity.CreatedDate" type='date' format='d MMM, yyyy hh:mm:ss a'  headerText="Created Date Time" width="200" textAlign="Center"></e-column>
                  <e-column field="Entity.WatchVideo" [disableHtmlEncode]="false" headerText="Watch Video" width="200"
                    textAlign="Center">
                    <ng-template #template let-data>
                      <button [class]="data.Entity.VideoStatus? 'btn btn-sm btn-success' : 'd-none'"
                        (click)="openWatchTutorialWatchModalByButton(data)">Watch</button>
                    </ng-template>
                  </e-column>
                </e-columns>
              </drag-scroll>
            </ejs-treegrid>
          </div>
        </div>
      </div>
    </div>
  </div>