  <div class="col-md-12 col-xs-12 col-12">
    <h5 class="text-primary">Sort By:</h5>
  </div>
  <div class="col-lg-6 col-xs-12 col-12 pb-4">
    <button type="button" (click)="sortHigh()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-exclamation"></i> High
    </button>
    <button type="button" (click)="sortMedium()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fab fa-medium"></i> Medium
    </button>
    <button type="button" (click)="sortLow()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-low-vision"></i> Low
    </button>
    <button type="button" (click)="all()" class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fas fa-sync-alt"></i> All
    </button>
    <button [routerLink]="['/chat-group']" routerLinkActive="router-link-active"  class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fa fa-comment-dots"></i> Chat Room
    </button>
    <button (click)='pushToTutorial()' class="btn bg-gradient-secondary btn-sm  mr-1">
      <i class="fa fa-video"></i> Tutorial Video
    </button>
  </div>
<div class="col-md-12">
  <div class="control-section">
    <ejs-treegrid #treegrid [dataSource]='data' 
    childMapping='ChildNodes' 
    [treeColumnIndex]='1' 
    [pageSettings]='pageSetting' 
    [filterSettings]='filterSettings'
    [contextMenuItems]='contextMenuItems'
    [toolbar]='toolbarOptions'
    allowPaging='true'
    [allowExcelExport]='true'
    [allowPdfExport]='true'
    gridLines='Both'
    [allowResizing]='true'
    showColumnMenu='true'
    allowSorting='true'
    allowFiltering='true' 
    [editSettings]='editSettings'
    (toolbarClick)='toolbarClick($event)'
    (created)='create()'
    (contextMenuClick)="contextMenuClick($event)"
    (recordDoubleClick)="recordDoubleClick($event)"
    >
        <e-columns>
            <e-column
            field="Entity.Follow"
            headerText="Follow"
            width="130"
            textAlign="Center"
          >
          <ng-template #template let-data>
            <div class="btn-group">
                <button type="button" (click)="follow(data.Entity.ID)" [class]="data.Entity.Follow == 'No' ? 'btn btn-success btn-xs':'btn btn-danger btn-xs'" ng-if="data.Entity.Level == 1" ><i [class]="data.Entity.Follow == 'No'  ? 'fas fa-bell':'fas fa-bell-slash'"></i> {{data.Entity.Follow == 'No' ?'Follow':'Unfollow'}}</button>
            </div>
          </ng-template>
        </e-column>
          <!-- <e-column
            field="Entity.Priority"
            headerText="Priority"
            width="110"
            textAlign="Center"
          >
          <ng-template #template let-data>
            <span id="priority" [class]="data.Entity.Priority == 'High' ? 'badge bg-danger' : data.Priority =='Medium' ? 'badge bg-warning' : 'badge bg-info'"  style="padding:4px;color:white">{{data.Entity.Priority}}</span>
          </ng-template>
        </e-column> -->
        <e-column field="Entity.JobName" [disableHtmlEncode]="true" headerText="Task Name" clipMode='EllipsisWithTooltip' textAlign="Left"
        width="240">
        <ng-template #template let-data>
          <span id="priority"
            [class]="data.Entity.Priority == 'High' ? 'badge bg-danger' : data.Entity.Priority =='Medium' ? 'badge bg-warning text-white' : 'badge bg-info'"
            style="padding:4px;color:white; font-size: 10px!important;"> {{data.Entity.Priority}}</span> {{data.Entity.JobName}}
        </ng-template>
      </e-column>
      <e-column field="Entity.From" headerText="From" width="120"></e-column>
      <e-column field="Entity.PIC" headerText="PIC" width="180" textAlign="Center"></e-column>
      <e-column field="Entity.state" headerText="Status" width="120" textAlign="Center">
        <ng-template #template let-data>
          <span id="priority" [class]="data.Entity.state == 'Delay' ? 'badge bg-danger' : 'badge bg-primary'"
            style="padding:4px;color:white">{{data.Entity.state}}</span>
        </ng-template>
      </e-column>
      <e-column field="Entity.DueDate" type='date' format='dd MMM, yyyy hh:mm:ss a' clipMode='EllipsisWithTooltip' headerText="Due Date Time" width="200" textAlign="Center">
      </e-column>
      <e-column field="Entity.periodType" headerText="Period Type" width="200" textAlign="Center">
        <ng-template #template let-data>
          {{periodText(data.Entity.periodType)}}
        </ng-template>
      </e-column>
      <!-- <e-column field="Entity.ModifyDateTime" headerText="Finished DateTime" width="200" textAlign="Center"></e-column> -->
      <e-column field="Entity.CreatedDate"type='date' format='d MMM, yyyy hh:mm:ss a' headerText="Created Date Time" width="200" textAlign="Center"></e-column>
        </e-columns>
    </ejs-treegrid>
</div>
</div>

<ng-template #addSubTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
     
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Name</label>
          <!-- <ejs-multiselect [dataSource]='usersData' [(ngModel)]='managerSelected' (change)="changeManager($event)" [mode]='default' [value]='managerSelected' (filtering)='onFiltering($event)' [allowFiltering]='true'  [fields]='fields' [placeholder]='waterMark'></ejs-multiselect> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Close
    </button>
    <button type="button"  class="btn btn-outline-dark">
      Save
    </button>
  </div>
</ng-template>
<ng-template #commentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Name</label>
          <!-- <ejs-multiselect [dataSource]='usersData' [(ngModel)]='managerSelected' (change)="changeManager($event)" [mode]='default' [value]='managerSelected' (filtering)='onFiltering($event)' [allowFiltering]='true'  [fields]='fields' [placeholder]='waterMark'></ejs-multiselect> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Close
    </button>
    <button type="button"  class="btn btn-outline-dark">
      Save
    </button>
  </div>
</ng-template>