<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" [src]="defaultImage()" class="offline" alt />
        <p>projectName</p>
        <div id="status-options">
          <ul>
            <li id="status-online">
              <span class="status-circle"></span>
              <p>Online</p>
            </li>
            <li id="status-offline">
              <span class="status-circle"></span>
              <p>Offline</p>
            </li>
          </ul>
        </div>
        <div id="expanded">
        </div>
      </div>
    </div>
    <div id="search">
      <label for>
        <i class="fa fa-search" aria-hidden="true"></i>
      </label>
      <input type="text" (keyup.enter)='searchProjects()' [(ngModel)]="keyword" placeholder="Search project..." />
    </div>
    <div id="contacts">
      <ul>
        <li class="contact" *ngFor="let item of projects" (click)="joinGroup(item)">
          <div class="wrap">
            <img [src]="defaultImage()" alt />
            <div class="meta">
              <p class="name">{{item.Name}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="bottom-bar">
      <button id="addcontact" class="d-none">
        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
        <span>Add group</span>
      </button>
      <button id="settings" class="d-none">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        <span>Settings</span>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <img [src]="defaultImage()" alt />
      <p>{{projectName}}</p>
      <div class="social-media">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
    </div>

    <div id="messageBox" class="messages" ref="messageBox">
      <ul>
        <ng-container *ngFor="let item of messages; let i=index">
          <li *ngIf="item.Images.length !== 0" [class]="checkShowMessage(item.UserID)">
              <div class="clearfix">
                <div [class]="checkShowMessageUsername(item.UserID)">{{item.Username}}, {{datetime(item.CreatedTime)}}
                </div>
              </div>
              <div></div>
              <div>
                <img [src]="imageBase64(item.ImageBase64)" alt />
              <ngx-gallery [options]="galleryOptions" [images]="renderGalleryImages(item)"></ngx-gallery>
              </div>
          </li>
          <li *ngIf="item.Message !== ''" [class]="checkShowMessage(item.UserID)">
              <div class="clearfix">
                <div [class]="checkShowMessageUsername(item.UserID)">{{item.Username}}, {{datetime(item.CreatedTime)}}
                </div>
              </div>
              <div></div>
              <div>
                <img [src]="imageBase64(item.ImageBase64)" alt />
                <p>{{item.Message}}</p>
              </div>
          </li>
        </ng-container>
        <!-- <li *ngFor="let item of messages; let i=index" [class]="checkShowMessage(item.UserID)">
          <ng-container *ngIf="item.Images.length > 0;else templateName">
            <div class="clearfix">
              <div [class]="checkShowMessageUsername(item.UserID)">{{item.Username}}, {{datetime(item.CreatedTime)}}
              </div>
            </div>
            <div></div>
            <div>
              <img [src]="imageBase64(item.ImageBase64)" alt />
            <ngx-gallery [options]="galleryOptions" [images]="renderGalleryImages(item)"></ngx-gallery>
            </div>
          </ng-container>
          <ng-template #templateName>
            <div class="clearfix">
              <div [class]="checkShowMessageUsername(item.UserID)">{{item.Username}}, {{datetime(item.CreatedTime)}}
              </div>
            </div>
            <div></div>
            <div>
              <img [src]="imageBase64(item.ImageBase64)" alt />
              <p>{{item.Message}}</p>
            </div>
          </ng-template>
        </li> -->
      </ul>
    </div>
    <div class="message-input">
      <div class="pl-2">
        <small style="color:#808080" class="typing">{{typing}}</small>
      </div>
      <div class="wrap">
        <div class="image-preview" *ngIf="showImageList">
          <div *ngFor="let item of urls; let index=index" class="img-content">
            <img [src]="item" class="img-thumbnail" alt="your image" />
            <i class="fa fa-times fa-close" (click)="removeSelectedFile(index)"></i>
          </div>
        </div>
        <emoji-mart title="Pick your emoji…" *ngIf="isShowIcon" (emojiSelect)="emojiSelect($event)"
          totalFrequentLines='2' sheetSize='32' class="emoji" useButton='true' emoji="point_up"></emoji-mart>
        <input type="file" #attachments multiple name="UploadedFile" (change)="onChangeImageFile($event)" class="d-none"
          accept="image/*" id="image-file" />
        <input type="text" autocomplete="off" [attr.disabled]="projectName?.length === 0 ? true : null" id="inputChat"
          (blur)="onBlurInputChat($event)" (keyup)='sendMessage($event)' [(ngModel)]="message"
          placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" (click)="displayImage()" aria-hidden="true"></i>
        <i class="fa fa-smile smile" (click)="onClickIcon()" aria-hidden="true"></i>
        <button class="submit" (click)='sendToGroup()'>
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>